<a href="https://colab.research.google.com/github/ratimayy/tools/blob/main/HW_plotly_graph.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Top5 from: https://www.statista.com/statistics/264362/leading-car-brands-in-the-us-based-on-vehicle-sales/#:~:text=The%20top%20three%20U.S.%20car,sales%20was%20attributable%20to%20its

Data from: https://www.goodcarbadcar.net/2024-us-auto-sales-figures-by-brand-brand-rankings/

In [ ]:
import pandas as pd
import plotly.express as px
import seaborn as sns

df = pd.read_csv('https://raw.githubusercontent.com/ratimayy/tools/main/car_fixed.csv')
df.head()

,Brand,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024
0,Acura,50496,38555,30469,28236,24624,21792,27654,33465,40177,36893,35120,18305
1,Alfa Romeo,5019,4530,4056,3288,3084,3439,3032,2390,2310,2890,3307,0
2,Audi,66084,41010,33180,35508,49642,38667,54052,52582,55608,59262,59706,0
3,BMW,96561,75620,93033,73712,78903,78029,100899,81877,87942,83954,107881,0
4,Buick,65921,39298,31407,19145,28878,28524,26921,38138,42753,43799,42162,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Brand    38 non-null     object
 1   Q2 2021  38 non-null     int64
 2   Q3 2021  38 non-null     int64
 3   Q4 2021  38 non-null     int64
 4   Q1 2022  38 non-null     int64
 5   Q2 2022  38 non-null     int64
 6   Q3 2022  38 non-null     int64
 7   Q4 2022  38 non-null     int64
 8   Q1 2023  38 non-null     int64
 9   Q2 2023  38 non-null     int64
 10  Q3 2023  38 non-null     int64
 11  Q4 2023  38 non-null     int64
 12  Q1 2024  38 non-null     int64
dtypes: int64(12), object(1)
memory usage: 4.0+ KB

In [ ]:
a = df[(df['Brand']=='Ford') | (df['Brand']=='Toyota') | (df['Brand']=='Chevrolet') | (df['Brand']=='Honda') | (df['Brand']=='Nissan')]
a

,Brand,Q2 2021,Q3 2021,Q4 2021,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024
6,Chevrolet,431583,286257,287136,342619,383816,371415,415025,397118,452678,450912,401992,0
10,Ford,448745,380606,483171,410026,456813,441487,459175,457481,507751,476725,462081,309461
13,Honda,435923,307359,255991,238182,215165,200258,227596,251042,306848,296310,302391,184915
28,Nissan,280283,188291,184035,189839,172620,142848,177442,220058,227824,200333,185876,0
35,Toyota,573109,433299,383896,433439,416834,421932,456555,399070,476889,508482,504500,302498

In [ ]:
a.drop('Q1 2024', axis = 1, inplace = True)
a.drop('Q2 2021', axis = 1, inplace = True)
a.drop('Q3 2021', axis = 1, inplace = True)
a.drop('Q4 2021', axis = 1, inplace = True)

a

<ipython-input-24-b88d888bc2bb>:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-24-b88d888bc2bb>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-24-b88d888bc2bb>:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-24-b88d888bc2bb>:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Brand,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023
6,Chevrolet,342619,383816,371415,415025,397118,452678,450912,401992
10,Ford,410026,456813,441487,459175,457481,507751,476725,462081
13,Honda,238182,215165,200258,227596,251042,306848,296310,302391
28,Nissan,189839,172620,142848,177442,220058,227824,200333,185876
35,Toyota,433439,416834,421932,456555,399070,476889,508482,504500

In [ ]:
import plotly.express as px

# Melt the DataFrame to convert it to long format
df_long = a.melt(id_vars=["Brand"], var_name="Quarter", value_name="Sales")

# Plot the bar chart using Plotly Express
fig = px.bar(df_long, x="Brand", y="Sales", color="Quarter",
             title="Top 5 Car Sales by Brands from Quarters1 2022 to Quarter4 2023 in US",
             labels={"Sales": "Number of Sales", "Brand": "Car Brand", "Quarter": "Quarter"})

# Set the Y-axis range
fig.update_yaxes(range=[0, 4000000])

# Show the plot
fig.show()

In [ ]:
df_long

        Brand  Quarter   Sales
0   Chevrolet  Q1 2022  342619
1        Ford  Q1 2022  410026
2       Honda  Q1 2022  238182
3      Nissan  Q1 2022  189839
4      Toyota  Q1 2022  433439
5   Chevrolet  Q2 2022  383816
6        Ford  Q2 2022  456813
7       Honda  Q2 2022  215165
8      Nissan  Q2 2022  172620
9      Toyota  Q2 2022  416834
10  Chevrolet  Q3 2022  371415
11       Ford  Q3 2022  441487
12      Honda  Q3 2022  200258
13     Nissan  Q3 2022  142848
14     Toyota  Q3 2022  421932
15  Chevrolet  Q4 2022  415025
16       Ford  Q4 2022  459175
17      Honda  Q4 2022  227596
18     Nissan  Q4 2022  177442
19     Toyota  Q4 2022  456555
20  Chevrolet  Q1 2023  397118
21       Ford  Q1 2023  457481
22      Honda  Q1 2023  251042
23     Nissan  Q1 2023  220058
24     Toyota  Q1 2023  399070
25  Chevrolet  Q2 2023  452678
26       Ford  Q2 2023  507751
27      Honda  Q2 2023  306848
28     Nissan  Q2 2023  227824
29     Toyota  Q2 2023  476889
30  Chevrolet  Q3 2023  450912
31       Ford  Q3 2023  476725
32      Honda  Q3 2023  296310
33     Nissan  Q3 2023  200333
34     Toyota  Q3 2023  508482
35  Chevrolet  Q4 2023  401992
36       Ford  Q4 2023  462081
37      Honda  Q4 2023  302391
38     Nissan  Q4 2023  185876
39     Toyota  Q4 2023  504500